/* Center the form on the page */
.container {
    display: flex;
    margin-top: 50%;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;

  }
  form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 1;
    width: 100%; /* Allow the form to fill the available space */
    min-width: 100px; /* Example: Constrain the maximum width */
  }
  
  .input {
    flex-shrink: 1;
    min-width: 100px;
    width: 700px;
    height: 50px; 
    padding-top: 20px;
    padding-left: 20px;
    margin: 10px -10px;
    border: 0.1px solid #8899A6;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
     background-color: white;
  }
  .input::placeholder{
    color: #19184a;
  }
  /* Button styling */
 form .button {
    background-color:#637cf7;
    color:white;
    height: 70px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    width: 140px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-size: large;
  }
  
 form button:hover {
    background-color: #637cf7;
    color: #fff;
    transform:scale(1.05);
    transition: 0.3s;
  }
  .MainMenu{
    display: flex;
    width: 500px;
    min-width: 100px;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: space-between;
    margin-top: 50px;
  }
  .Menu{
    background-color: #637cf7;
   min-width: 100px;
   width: 300px;
   height: 40px;
   box-shadow: 0px 0px 5px -2px;
   margin-bottom: 0.5px;
  }
  .Menu button{
    width: 50%;
    height: 100%;
    background-color: #637cf7;
    border: 0.2px solid #fff;
    color: #19184a;
  }
  .MenuDiv{
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
    min-width: 100px;
    box-shadow: 0px 0px 5px -2px;
   width: 500px;
   height: 400px;
  }