
nav{
  display: flex;
  height: 60px;
  background-color: white;
  align-items: center;
}
.navbar-header{
  display: flex;
  margin: 0;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}
.logo{
margin-right: -10px;
}
.navbar-header a{
  color: #19184a;
  font-family: "Product Sans", sans-serif;
  text-decoration: none;
  font-size: 30px;
  font-weight: 750;
  margin-left: 15px;
  
}
.navbar-collapsecollapse{
  width: 60%;
  min-width: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.navbar-a{
  width: 20%;
  display: flex;
  justify-content:space-between;
}
.navbar-collapsecollapse .navbar-a a{
  text-decoration: none;
  color: #19184a;
  font-family: "Product Sans", sans-serif;
  font-weight: 200;
}
@media (max-width: 768px) {
  .navbar-collapsecollapse .navbar-a a{
      margin-left: -30px;
      margin-right: 40px;
  }
  
}
.logo img{
  width:45px;
  height: 45px;
  margin-top: 4px;
  margin-left: 0px;
  transition: 1.5s;
  
}
.last_block{
  display: flex;
  justify-content: center;
  align-items: center;
}
.last_block button{
  margin-left: 60px;
  background-color: #637cf7;
  border: none;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  color: white;
}
.last_block button:hover{
  transform: scale(1.1);
  transition: 0.4s;
}